<div class="bg-info d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-3 rounded-5 text-secondary shadow" style="width: 30rem">
        <div class="text-center fs-2 fw-bold">REPORTES</div>
        <button routerLink='/administrador/reportes/mas-vendido' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 10 PRODUCTOS MAS VENDIDOS
        </button>
        <button routerLink='/administrador/reportes/clientes-top' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 10 CLIENTES QUE GENERAN MAS GANANCIAS
        </button>
        <button routerLink='/administrador/reportes/sucursales-top-ventas' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 3 SUCURSALES CON MAS VENTAS
        </button>
        <button routerLink='/administrador/reportes/sucursales-top-ingresos' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 3 SUCURSALES CON MAS INGRESOS
        </button>
        <button routerLink='/administrador/reportes/empleado-top-ventas' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 3 EMPLEADOS CON MAS VENTAS
        </button>
        <button routerLink='/administrador/reportes/empleado-top-ingresos' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton" >
            TOP 3 EMPLEADOS CON MAS INGRESOS
        </button>
        <button routerLink='/administrador/reportes/productos-top-ventas' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 10 PRODUCTOS MAS VENDIDOS
        </button>
        <button routerLink='/administrador/reportes/productos-top-ingresos' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 10 PRODUCTOS CON MAS INGRESOS
        </button>
        <button routerLink='/administrador/reportes/productos-top-ventas-sucursal' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 5 PRODUCTOS MAS VENDIDOS POR SUCURSAL
        </button>
        <button routerLink='/administrador/reportes/productos-top-ingresos-sucursal' class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm boton">
            TOP 5 PRODUCTOS CON MAS INGRESOS POR SUCURSAL
        </button>
    </div>
</div>