<p>ADMINISTRADOR: LISTA DE BOTONES PARA LOS REPORTES</p>

<button routerLink='/administrador/reportes/mas-vendido' type="button">
    1
</button>
<button routerLink='/administrador/reportes/clientes-top' type="button">
    2
</button>
<button routerLink='/administrador/reportes/sucursales-top-ventas' type="button">
    3
</button>
<button routerLink='/administrador/reportes/sucursales-top-ingresos' type="button">
    4
</button>
<button routerLink='/administrador/reportes/empleado-top-ventas' type="button">
    5
</button>
<button routerLink='/administrador/reportes/empleado-top-ingresos' type="button" color="warn">
    6
</button>
<button routerLink='/administrador/reportes/productos-top-ventas' type="button" color="warn">
    7
</button>
<button routerLink='/administrador/reportes/productos-top-ingresos' type="button">
    8
</button>
<button routerLink='/administrador/reportes/productos-top-ventas-sucursal' type="button" color="warn">
    9
</button>
<button routerLink='/administrador/reportes/productos-top-ingresos-sucursal' type="button" color="warn">
    10
</button>