<div class="bg-info d-flex justify-content-center align-items-center vh-100">

    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{btnNameActive}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li *ngFor="let establecimiento of establecimientos">
                    <button class="dropdown-item"
                        (click)="listarProductos(establecimiento)">{{establecimiento.nombre}}</button>
                </li>
            </ul>
        </div>
        <br>
        <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Agregar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos | paginate: { itemsPerPage: 10, currentPage: page }">
                    <td>{{producto.idProducto}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td><button *ngIf="!establecimientoLocal" (click)="transferir(producto)"> Agregar </button></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente"></pagination-controls>
        <div *ngIf="mostarMensaje">
            <strong>{{mensaje}}</strong> 
        </div>
    </div>
</div>