<div class="bg-info d-flex justify-content-center align-items-center vh-100">
    <div>
        <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Establecimiento</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados | paginate: { itemsPerPage: 3, currentPage: page }">
                    <td>{{empleado.idEmpleado}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.usuario}}</td>
                    <td>{{empleado.contrasena}}</td>
                    <td>{{empleado.rolEmpleado.nombre}}</td>
                    <td>{{empleado.establecimiento.nombre}}</td>
                    <td><button (click)="openModal(empleado)">Editar</button> <button (click)="eliminar(empleado)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
            nextLabel="Siguiente"></pagination-controls>
        <hr>

        <div style="display: flex;">
            <div class="dropdown" style="margin-right: 15px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{btnNameActiveRol}}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li *ngFor="let rol of roles">
                        <button class="dropdown-item" (click)="elegirRol(rol)">{{rol.nombre}}</button>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{btnNameActiveSucursal}}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li *ngFor="let establecimiento of establecimientos">
                        <button class="dropdown-item"
                            (click)="elegirEstablecimiento(establecimiento)">{{establecimiento.nombre}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <form (ngSubmit)="guardar()" [formGroup]="miFormulario">
            <div>
                <label for="exampleFormControlInput1" class="form-label"><b>Nombre:</b></label>
                <input formControlName="nombre" type="text" class="form-control">
            </div><br>
            <div>
                <label for="exampleFormControlInput1" class="form-label"><b>Usuario:</b></label>
                <input formControlName="usuario" type="text" class="form-control">
            </div><br>
            <div>
                <label for="exampleFormControlInput1" class="form-label"><b>Contraseña:</b></label>
                <input formControlName="contrasena" type="password" class="form-control">
            </div>
            <br>
            <div>
                <button>Agregar Empleado</button>
            </div>
        </form>
        <div *ngIf="mostrarMensaje">
            <strong>{{mensaje}}</strong>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div style="display: flex;">
                    <div class="dropdown" style="margin-right: 15px;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{btnNameActiveRolM}}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li *ngFor="let rol of roles">
                                <button class="dropdown-item" (click)="elegirRolM(rol)">{{rol.nombre}}</button>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{btnNameActiveSucursalM}}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li *ngFor="let establecimiento of establecimientos">
                                <button class="dropdown-item"
                                    (click)="elegirEstablecimientoM(establecimiento)">{{establecimiento.nombre}}</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <label for="exampleFormControlInput1" class="form-label"><b>NIT:</b></label>
                    <input disabled [value]="idM" class="form-control">
                </div>
                <div>
                    <label name="nombreM" for="exampleFormControlInput1" class="form-label"><b>Nombre:</b></label>
                    <input name="nombreM" [(ngModel)]="nombreM" class="form-control">
                </div>
                <div>
                    <label name="usuarioM" for="exampleFormControlInput1" class="form-label"><b>Usuario:</b></label>
                    <input name="usuarioM" [(ngModel)]="usuarioM" class="form-control">
                </div>
                <div>
                    <label name="contrasenaM" for="exampleFormControlInput1"
                        class="form-label"><b>Contraseña:</b></label>
                    <input name="contrasenaM" [(ngModel)]="contrasenaM" class="form-control">
                </div>

            </div>

            <div class="text-center mt-4 fw-semibold error" *ngIf="errorActualizarModal">
                Ocurrio un error al actualizar
            </div>

            <div class="text-center mt-4 fw-semibold error" *ngIf="mostrarMensajeModal">
                Se ha acutalizado el cliente
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editar()">Guardar</button>
            </div>
        </div>
    </div>
</div>