<div class="bg-info d-flex justify-content-center align-items-center vh-100">
    <div>
        <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th scope="col">NIT</th>
                    <th scope="col">Nombre</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 10, currentPage: page }">
                    <td> {{cliente.nit}} </td>
                    <td> {{cliente.nombre}} </td>
                    <td><button (click)="openModal(cliente.nit, cliente.nombre)">Editar</button> <button
                            (click)="eliminar(cliente.nit)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        <hr>
        <form (ngSubmit)="validar()" [formGroup]="miFormulario">
            <div>
                <label for="exampleFormControlInput1" class="form-label"><b>NIT:</b></label>
                <input formControlName="nit" class="form-control" id="exampleFormControlInput1">
            </div>
            <div>
                <label for="exampleFormControlInput1" class="form-label"><b>Nombre:</b></label>
                <input formControlName="nombre" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="text-center mt-4 fw-semibold error" *ngIf="existe">
                Este cliente ya esta registrado
            </div>
            <div class="text-center mt-4 fw-semibold error" *ngIf="agregado">
                Cliente agregado correctamente
            </div>
            <div>
                <br>
                <button>Agregar Cliente</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div>
                    <label for="exampleFormControlInput1" class="form-label"><b>NIT:</b></label>
                    <input disabled [value]="nit" class="form-control">
                </div>
                <div>
                    <label name="nombre" for="exampleFormControlInput1" class="form-label"><b>Nombre:</b></label>
                    <input name="nombre" [(ngModel)]="nombre" class="form-control">
                </div>
            </div>

            <div class="text-center mt-4 fw-semibold error" *ngIf="errorActualizar">
                Ocurrio un error al actualizar
            </div>

            <div class="text-center mt-4 fw-semibold error" *ngIf="mostrarMensaje">
                Se ha acutalizado el cliente
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editar()">Guardar</button>
            </div>
        </div>
    </div>
</div>